header{
    z-index: 1;

    animation: navFade ease-out 3s;
    animation-fill-mode: forwards;

    position: absolute;
    width: 100%;
}

.backdrop{
    display: none;
}

.mult{
    display: none;
}

.socials{
    width: 100%;
    border-radius: 1rem;
    line-height: 3rem;
    padding: 1rem;
    display: grid;
    justify-items: center;
    text-align: left;
    gap: 1rem;
    font-family: "Gabarito", sans-serif;
    
    img{
        width: 100%;
    }
}

.contact-body{
    width: 100%;
    height: 100%;
    padding: 5% 5% 0;
    
    position: absolute;
    top:0;
    left: 0;

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 5fr 1fr;
    gap: 1rem;
}

.contact-form{
    width: auto;
    height: auto;
    display: grid;
    align-items: center;
    overflow: auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: start;

    border-radius: 1rem;
}

.contact-title{
    font-family: 'all-round-gothic', sans-serif;

    font-size: 3rem;
    color: white;
}

input, textarea{
    width: 100%;
    padding: .75rem;
    border-radius: 0.25rem;
    border-style: none;

    font-family: 'loos-normal', sans-serif;
    font-size: 1rem;
}

input{
    margin: 1% 0;
}

textarea{
    margin-top: 1%;
    max-width: 100%;
    line-height: 1rem;
}

.submission{
    //width: 100%;
    margin-top: 3%;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    place-items: center;
    gap: 3%;
}

.h-captcha{
    margin-top: 3%;
}

form button{
    padding: .75rem 2rem;
    border-style: none;
    border-radius: 1rem;
    font-size: 1.1rem;
    font-family: 'loos-normal', sans-serif;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 35%;
     }
}

@media (max-aspect-ratio: 1/1){
    .socials{
        width: 80%;
    }
    .contact-body{
        grid-template-columns: 1fr;
        height: auto;
        margin-top: 10rem;
    }
    .contact-form{
        order: -1;
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        overflow: auto;
    }
}