.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.15);
    overflow: hidden;
    img{
        display: none;
        position: relative;
        top: 3.5vw;
        left: 6vw;
        height: 16vw;
        transform: rotate(-90deg);
        user-select: none;
        cursor: pointer;
    }

    &:hover .tooltip{
        display: block;
    }
}

h1{
    font-family: "all-round-gothic";
    font-weight: 700;
    font-size: 6vw;
    letter-spacing: 2vw;
    color: rgba(213, 229, 236, 0.9);
    mix-blend-mode: color-dodge;
    user-select: none;
    cursor: pointer;
    &:after{
        content: "";
        display: block;
        height: 1vh;
        left: 50%;
        position: absolute;
        background: rgba(213, 229, 236, 0.9);
        mix-blend-mode: color-dodge;
        transition: width 0.5s ease 0s, left 0.5s ease 0s;
        width: 0;
    }
    &:hover:after { 
        width: 74%; 
        left: 12%; 
    }
}

.backdropvideo{
    position: absolute;
    z-index: -5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.blur{
    filter: blur(15px);
}
.modal{
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100dvh;
}

.modal-bg{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        position: absolute;
        z-index: 10;
        width: 5rem;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
    }
}

.embed{
    aspect-ratio: 16/9;
    width: auto;
    height: 100%;
    max-width: 75%;
    max-height: 80%;
}

iframe{
    width: 100%;
    height: 100%;
}

.tooltip{
    display: none;
    background: rgba(19, 19, 19, .9);
    color: white;
    padding: .5vw .8vw .5vw .8vw;
    position: absolute;
    z-index: 100;
    font-family: "all-round-gothic";
    font-size: 1vw;
    border-radius: .5vw;
    border-top-left-radius: 0;
}

@media (max-aspect-ratio: 16/9) {
    .embed{
        aspect-ratio: 16/9;
        width: 100%;
        height: auto;
        max-width: 90%;
        max-height: 90%;
    }
}

@media (max-aspect-ratio: 4/5) {
    .hero{
        justify-content: right;
        align-items: end;
        text-align: right;
        img{
            display: inline-block;
        }
        h1{
            padding: 1rem;
            font-size: 13vw;
            letter-spacing: 2.2vw;

            color: rgb(255, 255, 255);
            mix-blend-mode: normal;

            &:hover:after { 
                width: 0%; 
                left: 50%; 
            }
        }
        &:hover .tooltip{
            display: none;
        }
    }

    .embed{
        max-width: 95%;
    }
}