// portfolio
.grid{
    margin: 2rem;
    display: grid;
    gap: 2rem;
}

.wall{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;

    li{
        height: 48vh;
        flex-grow: 1;
        margin: .5rem;
    }
}

.wall li:last-child {
    flex-grow: 10;
}

.wall img{
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: .5rem;
}

.wall img:hover{
    cursor: pointer;
    filter: brightness(70%);
}

.modal-assets{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;

    padding: 3rem;
    padding-bottom: 5rem;
    li{
        max-width: 85vw;

        display: grid;
        justify-items: center;
        gap: 2rem;
        img{
            max-height: 80vh;
        }
    }
}

#modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

#close{
    z-index: 20;
    position: absolute;
    top: 3%;
    right: 3%;
    font-family: 'Gabarito', sans-serif;
    font-size: 50pt;
    color: white;
    cursor: pointer;
}

@media (max-aspect-ratio: 5/3){
    .wall{
        li{
            height: 36vh;
        }
    }
}

@media (max-aspect-ratio: 3/4){
    .wall{
        li{
            height: auto;
        }

        img{
            max-width: 100%;
            height: auto;
        }
    }
}