//-----------------
.info-bar{
    z-index: 1;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    background: rgb(47, 51, 55);
    height: 100vh;
    border-radius: 1rem 1rem 0 0;
    margin-right: 1rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
}

.info-bar h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 30pt;
    margin-bottom: 0.25rem;
}

.info-bar h4{
    font-family: 'K2D', sans-serif;
    font-size: 10pt;
    margin-bottom: 1rem;
}

ol li{
    list-style: lower-roman;
    list-style-position: inside;
}

#ToC{
    background-color: rgb(37, 38, 41);
    border-style: solid;
    border-width: 2px;
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;

    font-family: 'Libre Baskerville', serif;
    font-size: 10pt;
    line-height: 200%;

    cursor: pointer;
}

#ToC button{
    height: 100%;

    background: rgba(0, 0, 0, 0);

    border-style: none;

    font-family: 'Libre Baskerville', serif;
    color: white;
}

#ToC li{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.grid-drop{
    display: grid;

    .dropdown-content{
        overflow: hidden;
    }

    transition: grid-template-rows 150ms cubic-bezier(.88,.05,.92,1);
}

#description-container{
    height: 100%;
    background: rgb(37, 38, 41);
    margin: 2rem 1rem 1rem 1rem;

    overflow: auto;
    border-radius: 1rem;

    padding: 2rem;
    font-size: 12pt;
    font-family: 'K2D', sans-serif;
    line-height: 175%;

    h2{
        margin-bottom: 2rem;
    }
    p{
        margin-bottom: 5rem;
    }
}

.project-page{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.page-content{
    display: grid;
    align-items: center;

    padding: 2rem;
    padding-top: 0;
    gap: 3rem;
}

.section{
    display: grid;
    place-items: center;

    gap: 3rem;
}

.split{
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.page-content img{
    max-width: 100%;
    max-height: 90vh;
}