//-----------------
.project-page{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.info-bar{
    z-index: 1;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    background: rgb(47, 51, 55);
    height: 100vh;
    border-radius: 1rem 1rem 0 0;
    margin-right: 1rem;
    padding: 2rem;
}

.page-content{
    display: grid;
    align-items: center;
    font-size: 15pt;
    font-family: 'K2D', sans-serif;
}

.banner{
    background-image: url("../Pieces/Painting/Front Lines/FrontLines.jpg");
    background-position: 0 30%;
    background-size: cover;

    min-height: 18rem;

    margin: 0rem 1rem 1rem 1rem;
    border-radius: 1rem;
}

.section{
    width: 100%;
    display: grid;
    place-items: center;

    padding: 2rem;
}

.split{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.page-content img{
    width: 100%;
    padding: 2rem;
}

.section p{
    display: block;
}

.wide{
    grid-column: span 2/auto;
}