header {
  z-index: 1;
  animation: fadeIn ease-out 2s;
  animation-fill-mode: forwards;
  position: absolute;
  width: 100%;
}

h2 {
  font-family: "Gurajada", sans-serif;
  font-size: 22pt;
  opacity: 70%;
}

#splash {
  z-index: -10;
  height: 100vh;
  width: 100%;
  background-color: rgb(29, 32, 35);
  background-position: 60% 50%;
  background-size: cover;
  cursor: pointer;
}

.backdrop {
  height: 100vh;
  background-color: rgb(21, 21, 22);
  mix-blend-mode: normal;
  animation: BDfade ease-out 1.5s;
  animation-fill-mode: forwards;
}

.label {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.label:hover {
  cursor: default;
}

.eaacon {
  width: 25vw;
  filter: invert(100%);
}

.dodge {
  mix-blend-mode: color-dodge;
}

.to-projects {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18rem;
  padding: 3rem 6rem 1rem;
}

.to-projects img {
  position: relative;
  animation: arrowAnim ease-out 2s;
  animation-iteration-count: infinite;
}

#arrow1 {
  animation-delay: 100ms;
}

.projects {
  width: 100%;
}

.project-wall {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: 350px;
  gap: 1.5rem;
  padding: 2rem;
}

.project-wall div {
  display: block;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

.project-wall li {
  margin: 0;
  transition: all 100ms ease-out;
}

.project-wall li:hover {
  margin: -0.5%;
}

.project-wall a {
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}
.project-wall a h3 {
  opacity: 100%;
}

.project-wall a:hover {
  transition: all 500ms;
  background: rgba(0, 0, 0, 0);
}
.project-wall a:hover h3 {
  transition: all 100ms;
  opacity: 0;
}

.project-wall h3 {
  width: 60%;
  font-family: "Gabarito", sans-serif;
  font-size: 40pt;
  line-height: 50pt;
  text-align: center;
}

.hidden {
  opacity: 0;
  transition: all 1s ease-out;
  transition-delay: 50ms;
}

.show {
  opacity: 100;
}

#back {
  width: 100;
  display: flex;
  justify-content: center;
  animation: arrowAnim2 ease-out 2s;
  animation-iteration-count: infinite;
}

#back img {
  width: 15rem;
  transform: rotate(180deg);
  padding: 3rem;
  margin-bottom: 3rem;
}

@media (min-width: 1100px) {
  .tall {
    grid-row: span 2/auto;
  }
  .long {
    grid-column: span 2/auto;
  }
}
@media (max-width: 800px) {
  .label {
    top: 50%;
  }
  .to-projects {
    bottom: -5%;
  }
  .project-wall {
    grid-template-columns: 1fr;
    grid-auto-rows: 275px;
    padding: 1rem;
  }
  .project-wall h3 {
    font-size: 25pt;
    line-height: 100%;
  }
  .eaacon {
    width: 60vw;
  }
  h2 {
    font-size: 18pt;
  }
}
@media (max-height: 450px) {
  .to-projects {
    left: 10%;
    bottom: 0%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes BDfade {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 38%;
  }
}
@keyframes arrowAnim {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  60%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes arrowAnim2 {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  60%, 80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=splashstyle.css.map */